In [1]:
import pandas as pd
import numpy as np

In [2]:
#shot data from 2019-2022
df = pd.read_excel("/Users/lb/Desktop/analytics/w_analytics/new_dtwom_22/player_shots.xlsx")

In [3]:
print(df)

     Year             Player  under_5_fgm  under_5_fga  between_5_9_fgm  \
0    2022        A'JA WILSON          119          193               46
1    2022      AARI MCDONALD           59          106               13
2    2022      AERIAL POWERS           54           92               13
3    2022     AISHA SHEPPARD            0            5                0
4    2022      ALAINA COATES            5            8                2
..    ...                ...          ...          ...              ...
617  2019      TIFFANY HAYES           74          151               11
618  2019   TIFFANY MITCHELL           56          109                5
619  2019       TINA CHARLES           80          155               47
620  2019  VICTORIA MACAULAY            2            3                0
621  2019      YVONNE TURNER           25           53                5

     between_5_9_fga  between_10_14_fgm  between_10_14_fga  between_15_19_fgm  \
0                 94                 34                 85                 28
1                 32                  5                 17                  6
2                 65                 26                 70                 38
3                  2                  0                  0                  1
4                  3                  0                  0                  0
..               ...                ...                ...                ...
617               37                 11                 27                 14
618               20                 12                 39                 13
619              127                 45                114                 29
620                1                  0                  0                  0
621               14                  1                  4                  2

     between_15_19_fga  between_20_24_fgm  between_20_24_fga  over_24_fgm  \
0                   60                 21                 53           11
1                   19                 31                 93           17
2                   91                 32                 88            7
3                    2                  3                 20            6
4                    0                  0                  0            0
..                 ...                ...                ...          ...
617                 34                 31                 97            6
618                 44                 18                 54            5
619                 86                 19                 80            0
620                  1                  0                  0            0
621                 13                 19                 66            7

     over_24_fga    ftm    fta
0             33  152.0  187.0
1             48   88.0  101.0
2             35  132.0  162.0
3             13    6.0    8.0
4              0   14.0   15.0
..           ...    ...    ...
617           24   26.4   35.2
618           19   20.0   22.4
619            3   26.4   32.0
620            0    3.2    3.2
621           22   12.0   13.6

[622 rows x 16 columns]

In [4]:
df_new = df.groupby(["Player"]).sum()

In [5]:
print(df_new)

                   Year  under_5_fgm  under_5_fga  between_5_9_fgm  \
Player
A'JA WILSON        8082          392          615              150
AALIYAH WILSON     2021            1            5                0
AARI MCDONALD      4043           75          137               16
AERIAL POWERS      8082          122          194               36
AISHA SHEPPARD     2022            0            5                0
...                 ...          ...          ...              ...
VERONICA BURTON    2022           11           19                0
VICTORIA MACAULAY  2019            2            3                0
VICTORIA VIVIANS   6063           45          102               17
YVONNE ANDERSON    2022            4            8                1
YVONNE TURNER      4041           29           68                6

                   between_5_9_fga  between_10_14_fgm  between_10_14_fga  \
Player
A'JA WILSON                    377                115                336
AALIYAH WILSON                   0                  2                  6
AARI MCDONALD                   38                  7                 33
AERIAL POWERS                  119                 41                109
AISHA SHEPPARD                   2                  0                  0
...                            ...                ...                ...
VERONICA BURTON                  8                  2                  4
VICTORIA MACAULAY                1                  0                  0
VICTORIA VIVIANS                40                 20                 47
YVONNE ANDERSON                  3                  2                  3
YVONNE TURNER                   20                  1                  5

                   between_15_19_fgm  between_15_19_fga  between_20_24_fgm  \
Player
A'JA WILSON                       94                233                 28
AALIYAH WILSON                     2                  8                  0
AARI MCDONALD                      9                 36                 58
AERIAL POWERS                     70                175                 74
AISHA SHEPPARD                     1                  2                  3
...                              ...                ...                ...
VERONICA BURTON                    0                  2                  9
VICTORIA MACAULAY                  0                  1                  0
VICTORIA VIVIANS                  50                129                 37
YVONNE ANDERSON                    1                  1                  4
YVONNE TURNER                      6                 21                 22

                   between_20_24_fga  over_24_fgm  over_24_fga    ftm    fta
Player
A'JA WILSON                       65           11           33  272.8  334.2
AALIYAH WILSON                     2            1            5    0.8    2.4
AARI MCDONALD                    165           22           77  100.0  114.6
AERIAL POWERS                    201           28          100  219.2  262.8
AISHA SHEPPARD                    20            6           13    6.0    8.0
...                              ...          ...          ...    ...    ...
VERONICA BURTON                   23            3           18   32.0   32.0
VICTORIA MACAULAY                  0            0            0    3.2    3.2
VICTORIA VIVIANS                 170           44          142   62.0   80.4
YVONNE ANDERSON                    7            0            3    7.0    7.0
YVONNE TURNER                     73            7           22   21.0   24.6

[260 rows x 15 columns]

In [6]:
#round ft column
#may not need this if you collect totals instead of game average which you did like a muppet
df_new["ftm"] = df_new.ftm.round()
df_new["fta"] = df_new.fta.round()

In [7]:
display(df_new.columns[3])

'between_5_9_fgm'

In [8]:
#make column percentages
df_new["under_5_%"] = df_new["under_5_fgm"] / df_new["under_5_fga"]
df_new["5_9_%"] = df_new["between_5_9_fgm"] / df_new["between_5_9_fga"]
df_new["10_14_%"] = df_new["between_10_14_fgm"] / df_new["between_10_14_fga"]
df_new["15_19_%"] = df_new["between_15_19_fgm"] / df_new["between_15_19_fga"]
df_new["20_24_%"] = df_new["between_20_24_fgm"] / df_new["between_20_24_fga"]
df_new["over_24_%"] = df_new["over_24_fgm"] / df_new["over_24_fga"]
df_new["ft%"] = df_new["ftm"] / df_new["fta"]

In [9]:
cols = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]
df_final = df_new.drop(df_new.columns[cols], axis=1)
display(df_final)

,under_5_%,5_9_%,10_14_%,15_19_%,20_24_%,over_24_%,ft%
Player,,,,,,,
A'JA WILSON,0.637398,0.397878,0.342262,0.403433,0.430769,0.333333,0.817365
AALIYAH WILSON,0.200000,NaN,0.333333,0.250000,0.000000,0.200000,0.500000
AARI MCDONALD,0.547445,0.421053,0.212121,0.250000,0.351515,0.285714,0.869565
AERIAL POWERS,0.628866,0.302521,0.376147,0.400000,0.368159,0.280000,0.832700
AISHA SHEPPARD,0.000000,0.000000,NaN,0.500000,0.150000,0.461538,0.750000
...,...,...,...,...,...,...,...
VERONICA BURTON,0.578947,0.000000,0.500000,0.000000,0.391304,0.166667,1.000000
VICTORIA MACAULAY,0.666667,0.000000,NaN,0.000000,NaN,NaN,1.000000
VICTORIA VIVIANS,0.441176,0.425000,0.425532,0.387597,0.217647,0.309859,0.775000
YVONNE ANDERSON,0.500000,0.333333,0.666667,1.000000,0.571429,0.000000,1.000000
YVONNE TURNER,0.426471,0.300000,0.200000,0.285714,0.301370,0.318182,0.840000

In [10]:
#replace nans of each column with 0s
df_final = df_final.fillna(0)

In [11]:
#replace column 0s and 1s with default values
df_final.loc[df_final["under_5_%"] == 0, "under_5_%"] = .2
df_final.loc[df_final["under_5_%"] == 1, "under_5_%"] = .7

df_final.loc[df_final["5_9_%"] == 0, "5_9_%"] = .2
df_final.loc[df_final["5_9_%"] == 1, "5_9_%"] = .7

df_final.loc[df_final["10_14_%"] == 0, "10_14_%"] = .2
df_final.loc[df_final["10_14_%"] == 1, "10_14_%"] = .7

df_final.loc[df_final["15_19_%"] == 0, "15_19_%"] = .2
df_final.loc[df_final["15_19_%"] == 1, "15_19_%"] = .7

df_final.loc[df_final["20_24_%"] == 0, "20_24_%"] = .2
df_final.loc[df_final["20_24_%"] == 1, "20_24_%"] = .7

df_final.loc[df_final["over_24_%"] == 0, "over_24_%"] = .2
df_final.loc[df_final["over_24_%"] == 1, "over_24_%"] = .7

df_final.loc[df_final["ft%"] == 0, "ft%"] = .6
df_final.loc[df_final["ft%"] == 1, "ft%"] = .95

In [12]:
display (df_final)

,under_5_%,5_9_%,10_14_%,15_19_%,20_24_%,over_24_%,ft%
Player,,,,,,,
A'JA WILSON,0.637398,0.397878,0.342262,0.403433,0.430769,0.333333,0.817365
AALIYAH WILSON,0.200000,0.200000,0.333333,0.250000,0.200000,0.200000,0.500000
AARI MCDONALD,0.547445,0.421053,0.212121,0.250000,0.351515,0.285714,0.869565
AERIAL POWERS,0.628866,0.302521,0.376147,0.400000,0.368159,0.280000,0.832700
AISHA SHEPPARD,0.200000,0.200000,0.200000,0.500000,0.150000,0.461538,0.750000
...,...,...,...,...,...,...,...
VERONICA BURTON,0.578947,0.200000,0.500000,0.200000,0.391304,0.166667,0.950000
VICTORIA MACAULAY,0.666667,0.200000,0.200000,0.200000,0.200000,0.200000,0.950000
VICTORIA VIVIANS,0.441176,0.425000,0.425532,0.387597,0.217647,0.309859,0.775000
YVONNE ANDERSON,0.500000,0.333333,0.666667,0.700000,0.571429,0.200000,0.950000
YVONNE TURNER,0.426471,0.300000,0.200000,0.285714,0.301370,0.318182,0.840000

In [13]:
#export excel sheet
df_final.to_excel("/Users/lb/Desktop/analytics/w_analytics/new_dtwom_22/shot_final.xlsx")